.couponCodeWrapper {
  margin-top: 1rem;
  width: 100%;
  padding: 0 12px 0 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color: #ca594d, $alpha: 0.2);
  border: 1px dashed #ca594d !important;
  border-radius: 4px;
  .applyCoupon {
    font-size: 12px;
    color: #2563eb;
  }
}
