.proceedBtn {
  border-radius: 0;
  padding: 13px 36px;
  height: 43px;
  background-color: #231f20 !important;
  color: white !important;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  font-size: 12px;
  margin: 3px;
  &.disabled {
    opacity: 0.5;
  }

  &:hover {
    background-color: #231f20;
  }
  @media (max-width: 600px) {
    padding: 6px 17.5px;
    height: 28px;
    font-size: 11px;
  }
}
