.homeWrapper {
  background-color: #000;
  .headingWrapper {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }
  .qrCodeScanWrapper {
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
