.otherPaymentInner {
  .formLabel {
    min-height: 60px;
    padding: 2px;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      width: calc(100% + 2rem);
      height: 1px;
      position: absolute;
      top: 0;
      left: -1rem;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &::after {
      content: "";
      width: calc(100% + 2rem);
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -1rem;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:not(:first-child):not(:last-child) {
      &::before {
        content: "";
        height: 0;
      }
    }
    .lhs {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .supportText {
        padding: 0 0 0 30px;
        transform: translateY(-8px);
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
      }
    }
    .rhs {
      display: flex;
      align-items: center;
    }
  }
}
